.RadSocialShare_PTCOnline {
  border-color: #b3b3b3;
  color: #333333;
  background-color: #e6e6e6;
  font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; }
  .RadSocialShare_PTCOnline .sshLinkItem:hover {
    color: #44b400; }
