.RadTreeList_PTCOnline,
.rtlCEdit div.RadTreeList_PTCOnline {
  border-color: #cccccc;
  background: #ffffff;
  color: #333333; }

.RadTreeList_PTCOnline .rtlHeader {
  background-color: #e6e6e6;
  background-image: linear-gradient(#fafafa, #e6e6e6);
  color: #333333;
  border-color: #cdcdcd; }
  .RadTreeList_PTCOnline .rtlHeader a {
    color: #333333; }
  .RadTreeList_PTCOnline .rtlHeader th {
    border-color: #cdcdcd; }

.RadTreeList_PTCOnline .rtlScroller {
  border-color: #cdcdcd; }

.RadTreeList_PTCOnline .rtlA {
  background-color: #f2f2f2; }

.RadTreeList_PTCOnline .rtlRFooter {
  background-color: #e6e6e6; }

.rtlCEdit .RadTreeList_PTCOnline {
  border: 1px solid; }

.RadTreeList_PTCOnline .rtlR td,
.RadTreeList_PTCOnline .rtlA td,
.RadTreeList_PTCOnline .rtlREdit td,
.RadTreeList_PTCOnline .rtlRFooter td,
.RadTreeList_PTCOnline .rtlEditForm {
  border-color: #d9d9d9; }

.RadTreeList_PTCOnline .rtlR a,
.RadTreeList_PTCOnline .rtlA a,
.RadTreeList_PTCOnline .rtlREdit a,
.RadTreeList_PTCOnline .rtlEditForm a {
  color: #44b400; }

.RadTreeList_PTCOnline .rtlRSel {
  background-color: #808080;
  background-image: linear-gradient(#9a9a9a, #808080);
  color: #ffffff; }

.RadTreeList_PTCOnline .rtlRActive .rtlCF {
  box-shadow: inset 0px 5px 5px -5px #676767, inset 0px -5px 5px -5px #676767, inset 5px 0px 5px -5px #676767; }

.RadTreeList_PTCOnline .rtlRActive .rtlCF ~ td {
  box-shadow: inset 0px 5px 5px -5px #676767, inset 0px -5px 5px -5px #676767; }

.RadTreeList_PTCOnline .rtlRActive .rtlCF ~ td:last-child {
  box-shadow: inset 0px 5px 5px -5px #676767, inset 0px -5px 5px -5px #676767, inset -5px 0px 5px -5px #676767; }

.RadTreeList_PTCOnline .rtlVBorders td.rtlL,
.RadTreeList_PTCOnline .rtlLines td.rtlL {
  background-color: #ffffff; }

.RadTreeList_PTCOnline .rtlEditForm {
  background: rgba(204, 204, 204, 0.75); }
  .RadTreeList_PTCOnline .rtlEditForm table {
    font-size: 1em; }

.RadTreeList_PTCOnline .rtlDel,
.RadTreeList_PTCOnline .rtlAdd,
.RadTreeList_PTCOnline .rtlEdit,
.RadTreeList_PTCOnline .rtlUpdate,
.RadTreeList_PTCOnline .rtlCancel,
.RadTreeList_PTCOnline .rtlClosePopUp {
  border: 0 none;
  background: none; }

.RadTreeList_PTCOnline .rtlCollapseIcon,
.RadTreeList_PTCOnline .rtlExpandIcon,
.RadTreeList_PTCOnline .rtlAddIcon,
.RadTreeList_PTCOnline .rtlEditIcon,
.RadTreeList_PTCOnline .rtlUpdateIcon,
.RadTreeList_PTCOnline .rtlCancelIcon,
.RadTreeList_PTCOnline .rtlDelIcon {
  color: #333333; }

.RadTreeList_PTCOnline .rtlExpand,
.RadTreeList_PTCOnline .rtlCollapse {
  background-color: white;
  background: linear-gradient(white, #e6e6e6);
  border: 1px solid #b3b3b3; }

.RadTreeList_PTCOnline .rtlPagerCell {
  border-color: #b3b3b3;
  color: #333333;
  background-color: #e6e6e6; }
  .RadTreeList_PTCOnline .rtlPagerCell .rtlNumPart a {
    border-radius: 2px;
    color: inherit; }
    .RadTreeList_PTCOnline .rtlPagerCell .rtlNumPart a:hover {
      border-color: #318100;
      color: #000000;
      background-color: #44b400;
      background-image: linear-gradient(#57e700, #44b400); }
    .RadTreeList_PTCOnline .rtlPagerCell .rtlNumPart a.rtlCurrentPage {
      border-color: #44b400;
      color: #44b400;
      background: none; }
  .RadTreeList_PTCOnline .rtlPagerCell .rtlPagerButton,
  .RadTreeList_PTCOnline .rtlPagerCell .rtlActionButton {
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: #b3b3b3;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient(white, #e6e6e6); }
    .RadTreeList_PTCOnline .rtlPagerCell .rtlPagerButton:hover,
    .RadTreeList_PTCOnline .rtlPagerCell .rtlActionButton:hover {
      border-color: #318100;
      color: #000000;
      background-color: #44b400;
      background-image: linear-gradient(#57e700, #44b400); }

.RadTreeList_PTCOnline .rtlCommandCell {
  border-color: #b3b3b3;
  color: #333333;
  background-color: #e6e6e6;
  background-image: linear-gradient(white, #e6e6e6); }
  .RadTreeList_PTCOnline .rtlCommandCell .rtlActionButton:hover {
    border-color: #318100;
    color: #000000;
    background-color: #44b400;
    background-image: linear-gradient(#57e700, #44b400); }
  .RadTreeList_PTCOnline .rtlCommandCell .rtlActionButton:active {
    border-color: #676767;
    color: #ffffff;
    background-color: #808080;
    background-image: linear-gradient(#9a9a9a, #808080); }

.RadTreeList_PTCOnline .rtlLines td.rtlL0 {
  background-image: url('<%=WebResource("Telerik.Web.UI.Skins.PTCOnline.TreeList.rtlSingleLite.gif")%>'); }

.RadTreeList_PTCOnline .rtlLines td.rtlL1 {
  background-image: url('<%=WebResource("Telerik.Web.UI.Skins.PTCOnline.TreeList.rtlTopLite.gif")%>'); }

.RadTreeList_PTCOnline .rtlLines td.rtlL2 {
  background-image: url('<%=WebResource("Telerik.Web.UI.Skins.PTCOnline.TreeList.rtlMiddleLite.gif")%>'); }

.RadTreeList_PTCOnline .rtlLines td.rtlL3 {
  background-image: url('<%=WebResource("Telerik.Web.UI.Skins.PTCOnline.TreeList.rtlBottomLite.gif")%>'); }

.RadTreeListRTL_PTCOnline .rtlLines td.rtlL1 {
  background-image: url('<%=WebResource("Telerik.Web.UI.Skins.PTCOnline.TreeList.rtlTopRTLLite.gif")%>'); }

.RadTreeListRTL_PTCOnline .rtlLines td.rtlL2 {
  background-image: url('<%=WebResource("Telerik.Web.UI.Skins.PTCOnline.TreeList.rtlMiddleRTLLite.gif")%>'); }

.RadTreeListRTL_PTCOnline .rtlLines td.rtlL3 {
  background-image: url('<%=WebResource("Telerik.Web.UI.Skins.PTCOnline.TreeList.rtlBottomRTLLite.gif")%>'); }

.TreeListReorderTop_PTCOnline,
.TreeListReorderBottom_PTCOnline {
  font-size: 2em;
  color: #838383; }

.RadTreeList_PTCOnline .rtlDragHandle {
  background-image: url('<%=WebResource("Telerik.Web.UI.Skins.PTCOnline.Grid.rgDrag.gif")%>'); }

.TreeListToolTip_PTCOnline {
  border-color: #828282;
  background: #ffffff;
  color: #333333; }
