@using IdentityServer4.Quickstart.UI
@model IdentityServerAsp.ViewModel.UserPasswordCheckViewModel

@{
    Layout = "/Views/Shared/_PtcLayout.cshtml";
    ViewData["Title"] = "Email Confirmed";
}

<div class="page_be">
    <div class="content-login">
        <div class="loginctl">
            <div class="container-fluid d-flex align-items-center justify-content-center h-100">

                <div class="row d-flex justify-content-center text-center">

                    <div class="col-md-10">

                        <!-- Heading -->
                        <h2 class="display-4 font-weight-bold black-text pt-5 mb-2">Oops!</h2>

                        <!-- Divider -->
                        <hr class="hr-dark">

                        <!-- Description -->
                        <h4>Invalid Email Confirmation</h4>

                        <p class="text-info">
                            We were unable to validate your email at this time.
                        </p>


                    </div>

                </div>

            </div>
        </div>

    </div>

</div>




