

@using IdentityServer4.Quickstart.UI
@model IdentityServerAsp.ViewModel.ForgotPasswordViewModel
@{
    Layout = "/Views/Shared/_PtcLayout.cshtml";
    ViewData["Title"] = "Forgot Password";
}

        
<style>
    .required-field::after {
        content: "*";
        color: red;
    }
</style>


        <div class="page_be">
            <div class="content-login">
                <div class="loginctl">



                    <h2>
                        Forgot Password
                    </h2>

                    <div class="clear"></div>



                    <div class="clear"></div>
                   
                    <div class="accountInfo">
                        <fieldset class="login">
                            <legend>Forgot Password</legend>
                            <div class="info">
                                Please enter your  e-mail address. A link will be sent to the email address.<br /><br />
                            </div>
                            <div class="clear"></div>
                            <form asp-route="ForgotPassword">
                                
                                <p>
                                    <label class="required-field">E-mail:</label>
                                    <input asp-for="EmailAddress" type="text" maxlength="75" tabindex="2" />
                                    <span asp-validation-for="EmailAddress" style="color:red"></span>
                                    <input asp-for="ForgotPasswordLoginUri" type="hidden"/>
                                </p>

                 
                                <p class="submitButton">
                                    <button type="submit" name="button" tabindex="5" value="ForgotPassword">Send</button>

                                </p>
                             
                            </form>

                            @if(Model.isEmailConfirmed!=null && Model.isEmailConfirmed==true)
                            {
                                <label style="color:green">Email Has Been Sent</label>
                            }



                        </fieldset>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
        </div>
       



<!-- start number replacer -->
@*<script type="text/javascript" src="//adtrack.voicestar.com/euinc/number-changer.js"></script>*@

<!-- end ad widget -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
