@using Microsoft.AspNetCore.Mvc.Razor
<!-- HEADER -->
<div id="logo-group">


    <div class="display-inline" style="color:red;white-space: nowrap;">

        <h1>PTC Online Identity Server</h1>
    </div>

    
    <!-- PLACE YOUR LOGO HERE -->
    @*<h7><b>Pipeline Testing Consortium Inc.</b></h7>*@
    <!-- END LOGO PLACEHOLDER -->

</div>

<!-- END HEADER -->