<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PTC Identity</title>
    <link rel="Stylesheet" href="~/PTC/ptc.css?d=180122-1" />
    <link rel="Stylesheet" href="~/PTC/print.css?d=180122-1" media="print" />
    <script src="~/js/libs/jquery-2.1.1.min.js"></script>
    <script src="~/js/libs/jquery-ui-1.10.3.min.js"></script>
    <style type="text/css">
        #DIV_1 {
            background-position: 10px 50%;
            color: rgb(216, 0, 12);
            height: 15.5px;
            text-decoration: none solid rgb(216, 0, 12);
            width: 638px;
            column-rule-color: rgb(216, 0, 12);
            perspective-origin: 350px 23.75px;
            transform-origin: 350px 23.75px;
            caret-color: rgb(216, 0, 12);
            background: rgb(255, 186, 186) url("https://www.pipelinetesting.com/App_Themes/PTC/images/error.png") no-repeat scroll 10px 50% / auto padding-box border-box;
            border: 1px solid rgb(216, 0, 12);
            font: normal normal 400 normal 13px / normal Arial, Helvetica, sans-serif;
            margin: 10px 0px;
            outline: rgb(216, 0, 12) none 0px;
            padding: 15px 10px 15px 50px;
        }
            /*#DIV_1*/

            #DIV_1:after {
                color: rgb(216, 0, 12);
                text-decoration: none solid rgb(216, 0, 12);
                column-rule-color: rgb(216, 0, 12);
                caret-color: rgb(216, 0, 12);
                border: 0px none rgb(216, 0, 12);
                font: normal normal 400 normal 13px / normal Arial, Helvetica, sans-serif;
                outline: rgb(216, 0, 12) none 0px;
            }
            /*#DIV_1:after*/

            #DIV_1:before {
                color: rgb(216, 0, 12);
                text-decoration: none solid rgb(216, 0, 12);
                column-rule-color: rgb(216, 0, 12);
                caret-color: rgb(216, 0, 12);
                border: 0px none rgb(216, 0, 12);
                font: normal normal 400 normal 13px / normal Arial, Helvetica, sans-serif;
                outline: rgb(216, 0, 12) none 0px;
            }
        /*#DIV_1:before*/


    </style>
    <style type="text/css">
        #DIV_2 {
            color: rgb(255, 0, 0);
            text-decoration: none solid rgb(255, 0, 0);
            width: 700px;
            column-rule-color: rgb(255, 0, 0);
            perspective-origin: 350px 7.75px;
            transform-origin: 350px 7.75px;
            caret-color: rgb(255, 0, 0);
            border: 0px none rgb(255, 0, 0);
            font: normal normal 400 normal 13px / normal Arial, Helvetica, sans-serif;
            outline: rgb(255, 0, 0) none 0px;
        }
            /*#DIV_1*/

            #DIV_2:after {
                color: rgb(255, 0, 0);
                text-decoration: none solid rgb(255, 0, 0);
                column-rule-color: rgb(255, 0, 0);
                caret-color: rgb(255, 0, 0);
                border: 0px none rgb(255, 0, 0);
                font: normal normal 400 normal 13px / normal Arial, Helvetica, sans-serif;
                outline: rgb(255, 0, 0) none 0px;
            }
            /*#DIV_1:after*/

            #DIV_2:before {
                color: rgb(255, 0, 0);
                text-decoration: none solid rgb(255, 0, 0);
                column-rule-color: rgb(255, 0, 0);
                caret-color: rgb(255, 0, 0);
                border: 0px none rgb(255, 0, 0);
                font: normal normal 400 normal 13px / normal Arial, Helvetica, sans-serif;
                outline: rgb(255, 0, 0) none 0px;
            }
        /*#DIV_1:before*/

        #UL_2 {
            color: rgb(255, 0, 0);
            height: 15.5px;
            text-decoration: none solid rgb(255, 0, 0);
            width: 660px;
            column-rule-color: rgb(255, 0, 0);
            perspective-origin: 350px 7.75px;
            transform-origin: 350px 7.75px;
            caret-color: rgb(255, 0, 0);
            border: 0px none rgb(255, 0, 0);
            font: normal normal 400 normal 13px / normal Arial, Helvetica, sans-serif;
            margin: 13px 0px;
            outline: rgb(255, 0, 0) none 0px;
        }
            /*#UL_2*/

            #UL_2:after {
                color: rgb(255, 0, 0);
                text-decoration: none solid rgb(255, 0, 0);
                column-rule-color: rgb(255, 0, 0);
                caret-color: rgb(255, 0, 0);
                border: 0px none rgb(255, 0, 0);
                font: normal normal 400 normal 13px / normal Arial, Helvetica, sans-serif;
                outline: rgb(255, 0, 0) none 0px;
            }
            /*#UL_2:after*/

            #UL_2:before {
                color: rgb(255, 0, 0);
                text-decoration: none solid rgb(255, 0, 0);
                column-rule-color: rgb(255, 0, 0);
                caret-color: rgb(255, 0, 0);
                border: 0px none rgb(255, 0, 0);
                font: normal normal 400 normal 13px / normal Arial, Helvetica, sans-serif;
                outline: rgb(255, 0, 0) none 0px;
            }
        /*#UL_2:before*/

        #LI_3 {
            color: rgb(255, 0, 0);
            height: 15.5px;
            text-decoration: none solid rgb(255, 0, 0);
            width: 660px;
            column-rule-color: rgb(255, 0, 0);
            perspective-origin: 330px 7.75px;
            transform-origin: 330px 7.75px;
            caret-color: rgb(255, 0, 0);
            border: 0px none rgb(255, 0, 0);
            font: normal normal 400 normal 13px / normal Arial, Helvetica, sans-serif;
            outline: rgb(255, 0, 0) none 0px;
        }
            /*#LI_3*/

            #LI_3:after {
                color: rgb(255, 0, 0);
                text-decoration: none solid rgb(255, 0, 0);
                column-rule-color: rgb(255, 0, 0);
                caret-color: rgb(255, 0, 0);
                border: 0px none rgb(255, 0, 0);
                font: normal normal 400 normal 13px / normal Arial, Helvetica, sans-serif;
                outline: rgb(255, 0, 0) none 0px;
            }
            /*#LI_3:after*/

            #LI_3:before {
                color: rgb(255, 0, 0);
                text-decoration: none solid rgb(255, 0, 0);
                column-rule-color: rgb(255, 0, 0);
                caret-color: rgb(255, 0, 0);
                border: 0px none rgb(255, 0, 0);
                font: normal normal 400 normal 13px / normal Arial, Helvetica, sans-serif;
                outline: rgb(255, 0, 0) none 0px;
            }
        /*#LI_3:before*/


    </style>
</head>
<body>
    <div class="main" id="main">
        <div id="header" class="header">
            <img alt="Pipeline Testing Consortium Inc." src="~/PTC/images/span.gif" width="320" height="96" usemap="#logomap" class="hlNoDecoration" style="float:left;position:relative;" />
            <map id="logomap" name="logomap">
                <area id="logoarea" shape="rect" coords="20,20,300,96" href="https://www.pipelinetesting.com" alt="Pipeline Testing Consortium Inc." class="hlNoDecoration" />
            </map>

            <div class="clear"></div>
        </div>

        <div class="container body-content">
            @RenderBody()
        </div>
        <div class="footer" id="footer">
            <div id="footerleft">
                <span class="largetext">Pipeline Testing Consortium, Inc.</span><br />
                7 Compound Dr.<br />
                Hutchinson, KS 67502<br />
                620.669.8800<br />
                <br />
                <div id="footerdisclaimer">
                    <a href="https://www.pipelinetesting.com/terms.aspx" class="FooterNavigation">Disclaimer and Terms of Use</a>
                </div>
            </div>
            <div id="footercenter" onclick="window.location.href = 'joinptc.aspx';">
                &nbsp;
            </div>
            <div id="footerright">
                <a href="/compliance.aspx" class="footersvcs">Why Choose PTC?</a><br />
                <a href="/collsiteenrollment.aspx" class="footersvcs">Join the PTC Collection Site Network</a><br />
                <a href="https://colsites.pipelinetesting.com" class="footersvcs">Collection Site Update</a><br />
                <div id="rightcopyright">
                    <p>&copy;<span id="lblYear">2018</span> Pipeline Testing Consortium, Inc.</p>
                </div>
            </div>
            <div class="clear"></div>

        </div>
        </div>
        @RenderSection("Scripts", required: false)    
</body>
</html>
