html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background-image: url('../../img/pipeline-image.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
